@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");
* {
  box-sizing: border-box;
}

#unique_font {
  font-family: "Dela Gothic One", cursive;
}

body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  background-color: #fff;
  /* color: white; */
}

img {
  width: 100%;
}

.cont {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* styling for the nav */
nav {
  border-bottom: 1px solid lightgrey;
  padding: 1.5rem;

  background-color: #fff;
}

/* styling for the main section of the landing page */
.hero_section_top {
  display: flex;

  background-color: #fff;
  border: 2px solid red;

  /* padding-top: 2rem; */
}

.top_left {
  width: 50%;

  display: flex;
  flex-direction: column;

  /* padding: 1rem; */

  line-height: 2.5rem;
}

#hero_main_text {
  font-size: 2.5rem;
}

/* search container with btn */
.search-container {
  display: flex;

  padding-bottom: 1rem;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.popular_searches_sec {
  display: flex;

  border: 2px solid red;
  gap: 20px;
}

.top_right {
  width: 50%;
  justify-self: right;
}

#hero_img {
  border-radius: 15px 80px 15px 80px;
  max-width: 80%;
  float: right;
}

/* styling for the job categories section */
.bg_white {
  background-color: #fff;
}

.jc_box {
  padding: 2rem;

  border: 2px solid red;
}

.job_section_text_box {
  text-align: center;

  padding-top: 1.33rem;
  padding-bottom: 1.8rem;

  line-height: 2.5rem;
}

.hero_section_jobs {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;

  gap: 3rem;
}

.job_section_top_row {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid purple;
  gap: 1.5rem;
  width: 100%;
}
.job_section_bot_row {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid purple;
  gap: 1.5rem;
  width: 100%;
}
.jobs {
  border: 2px solid green;

  text-align: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
}

/* styling for the general info section */

/* styling for the testimonials section */
.bg_light_blue {
  background-color: #4b8dc6;
}

.hero_section_testimonials {
  padding: 3rem;
  padding-bottom: 4.2rem;
}

.testimonials_header {
  text-align: center;
  padding-bottom: 2.15rem;
}

#testimonials_header_text {
  color: #fff;
}

.testimonials_box {
  display: flex;
  gap: 1rem;
}

.testimonials_box_left,
.testimonials_box_mid,
.testimonials_box_right {
  padding: 1.75rem;
  border-radius: 40px;
}

.tb_name_title > img {
  width: 50%;
}

#tb_card-imgs {
  width: 50%;
  border-radius: 2rem;
}

.tb_card {
  display: flex;

  gap: 2rem;
}

.name_title-box {
  text-align: center;
  padding: 0.5rem;
}

#title {
  font-weight: bold;
}

#job_title {
  font-weight: 300;
}

#job_card_para {
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.stars_icons {
  display: flex;

  padding-left: 0.4rem;
}

/* styling for the app info section */
.bg_white {
  background-color: #fff;
}

.hero_section_app_info {
  background-color: #fff;
  display: flex;

  padding: 3rem;
}

.hero_section_app_info > .app_info_left {
  width: 50%;
}

.hero_section_app_info > .app_info_right {
  width: 50%;
}

.app_info_img {
  max-width: 100%;
  max-height: 100%;
}

.app_info_right {
  display: flex;
  flex-direction: column; /* places text in a column format */
  justify-content: center;
  align-items: start;
}

#air_banner {
  color: #295982;
}

.app_info_right > h1 {
  text-align: start;
}

.app_info_right > p {
  color: gray;
  text-align: start;
  line-height: 1.85rem;
}

.app_info_img {
  max-width: 100%;
  max-height: 100%;
}

.app_info_info_right_btns {
  display: flex;
}
/* styling for the footer and site map section */
.hero_section_site_map {
  background-color: #939393;
  color: #fff;
  padding: 3.125rem;
}

.hero_section_site_map > .cont {
  display: flex;
  justify-content: space-between;
}

/* styling for the copyright section */
.hero_section_copyright {
  text-align: center;
  padding: 1.5rem;
  color: #fff;
  background-color: #494949;
  text-decoration: none;
}

.hero_section_copyright > a {
  color: orange;
  text-decoration: none;
}
