@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

* {
  box-sizing: border-box;
}

/* for navbar company name */
/* for navbar company name */
/* for navbar company name */
/* for navbar company name */

#unique_font {
  font-family: "Dela Gothic One", cursive;
  color: #295982;
}

body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  padding: 0;
}

img {
  width: 100%;
}

.cont {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* styling for the nav */
nav {
  border-bottom: 1px solid lightgrey;
  padding: 1.5rem;

  background-color: #fff;
}

#nav_btns:hover {
  border-bottom: solid #295982;
  cursor: pointer;
}

/* spacing box */
.spacing_box {
  height: 8.25rem;
}
/* styling for the main section of the landing page */
/* styling for the main section of the landing page */
/* styling for the main section of the landing page */
/* styling for the main section of the landing page */
.hero_section_top {
  display: flex;

  background-color: #fff;
  /* border: 2px solid red; */
}

.top_left {
  width: 50%;

  display: flex;
  flex-direction: column;

  /* padding: 1rem; */

  line-height: 2.5rem;
}

#hero_main_text {
  font-size: 2.5rem;
  font-weight: bold;
}

/* search container with btn */
.search-container {
  display: flex;

  padding-bottom: 1rem;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 200px;
}

.search-button {
  padding: 10px 20px;
  background-color: #295982;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
  background-color: #92c0d7;
}

.popular_searches_sec {
  display: flex;
  font-size: small;

  /* border: 2px solid red; */
  gap: 20px;
}

.p-s-title {
  font-weight: 900;
}

.p-s-btn {
  font-weight: 900;
}

.top_right {
  width: 50%;
  justify-self: right;
}

#hero_img {
  border-radius: 15px 80px 15px 80px;
  max-width: 80%;
  float: right;
}

/* styling for hero section one.two / popular job categories */
/* styling for hero section one.two / popular job categories */
/* styling for hero section one.two / popular job categories */
/* styling for hero section one.two / popular job categories */
.pop_job_cat_text {
  /* border: 2px solid red; */
  background-color: rgb(236, 236, 236);

  text-align: center;
  padding: 2rem;
}

#pop_job_cat_title {
  font-weight: bolder;
}

#pop_job_cat_info_content {
  font-weight: 100;
}

.pop_job_cat_panel {
  /* border: 2px solid red; */
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pop_job_cat_panel_top_box {
  /* border: 2px solid green; */
  display: flex;

  justify-content: space-evenly;

  padding-bottom: 3rem;
}
.pop_job_cat_panel_bottom_box {
  display: flex;

  justify-content: space-evenly;
}

.pop_job_cat_card {
  border: 1px solid rgb(236, 236, 236);

  height: 180px;
  width: 180px;

  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.rounded {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4b8dc6;

  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

/* styling for the job categories section */
/* styling for the job categories section */
/* styling for the job categories section */
/* styling for the job categories section */
.bg_light_grey {
  background-color: rgb(236, 236, 236);
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.jc_box {
  line-height: 5px;
  align-items: center;
  /* border: 2px solid red; */
}

.job_cat_title {
  font-size: large;
  padding-bottom: 1.5rem;
}

.job_cat_box {
  display: flex;
  justify-content: space-around;
}

.job_cat_boxes:hover {
  box-shadow: 10px 5px 5px gray;
  border-radius: 10px;
  opacity: 0.9;
}

.job_title {
  font-weight: lighter;
  font-size: 17px;
}

#job_cat_imgs {
  width: 300px;
  border-radius: 10px;
}

#job_cat_link:link {
  text-decoration: none;
}

/* styling for the general info section */
/* styling for the general info section */
/* styling for the general info section */
/* styling for the general info section */
header {
  /* background-color: #295982; */
  background: #295982;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* styling for the testimonials section */
/* styling for the testimonials section */
/* styling for the testimonials section */
/* styling for the testimonials section */
.bg_light_blue {
  background-color: #4b8dc6;
}

.hero_section_testimonials {
  padding: 3rem;
  padding-bottom: 4.2rem;
}

.testimonials_header {
  text-align: center;
  padding-bottom: 2.15rem;
}

#testimonials_header_text {
  color: #fff;
}

.testimonials_box {
  display: flex;
  gap: 1rem;
}

.testimonials_box_left,
.testimonials_box_mid,
.testimonials_box_right {
  padding: 1.75rem;
  border-radius: 40px;
}

.tb_name_title > img {
  width: 50%;
}

#tb_card-imgs {
  width: 50%;
  border-radius: 2rem;
}

.tb_card {
  display: flex;

  gap: 2rem;
}

.name_title-box {
  text-align: center;
  padding: 0.5rem;
}

#title {
  font-weight: bold;
}

#job_title {
  font-weight: 300;
}

#job_card_para {
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.stars_icons {
  display: flex;

  padding-left: 0.4rem;
}

/* styling for the app info section */
/* styling for the app info section */
/* styling for the app info section */
/* styling for the app info section */
.bg_white {
  background-color: #fff;
}

.hero_section_app_info {
  background-color: #fff;
  display: flex;

  padding: 3rem;
}

.hero_section_app_info > .app_info_left {
  width: 50%;
}

.hero_section_app_info > .app_info_right {
  width: 50%;
}

.app_info_img {
  max-width: 100%;
  max-height: 100%;
}

.app_info_right {
  display: flex;
  flex-direction: column; /* places text in a column format */
  justify-content: center;
  align-items: start;
}

#air_banner {
  color: #295982;
}

.app_info_right > h1 {
  text-align: start;
}

.app_info_right > p {
  color: #295982;
  text-align: start;
  line-height: 1.85rem;
}

.app_info_img {
  max-width: 100%;
  max-height: 100%;
}

.app_info_info_right_btns {
  display: flex;
}
/* styling for the footer and site map section */
/* styling for the footer and site map section */
/* styling for the footer and site map section */
/* styling for the footer and site map section */
.hero_section_site_map {
  background-color: #4b8dc6;
  color: rgb(236, 236, 236);
  padding: 3.125rem;
}

.hero_section_site_map > .cont {
  display: flex;
  justify-content: space-between;
}

#site_map_links:link {
  text-decoration: none;
}

#site_map_links:active {
  color: white;
}

#site_map_links:hover {
  color: white;
}

/* styling for the copyright section */
/* styling for the copyright section */
/* styling for the copyright section */
/* styling for the copyright section */
.hero_section_copyright {
  text-align: center;
  padding: 1.5rem;
  color: #fff;
  background-color: black;
  text-decoration: none;
}

.hero_section_copyright > a {
  color: orange;
  text-decoration: none;
}
