* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #659dbd;
}

img {
    width: 100%;
}

.cont {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

.row {
    display: flex;
    justify-content: space-between;
}

/* styling for the nav */
.header {
    padding: 3.2rem;

}

.nav {
    display: flex;

}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    align-items: center;
    font-size: .9rem;

    display: flex;
}

#nav__list--primary {
    color: black;
}

#nav__list--primary:hover {
    color: orange;
    text-shadow: #FC0 1px 0 10px;
}

.s_i_btn:hover {
    color: orange;
    text-shadow: #FC0 1px 0 10px;
}

.nav__link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link--button {
    background-color: #295982;
    color: #fff;
    padding: 0.25em 1em;
    border-radius: 10em;
}

.nav__link_su:hover {
    background-color: orange;
    color: black;
}

.nav__item+.nav__item {
    margin-left: 1em;
}

/* styling for the main section of the landing page */
.hero_section_top {
    display: flex;
}

.hero_section_top>.top_left {
    width: 50%;
}

.hero_section_top>.top_right {
    width: 50%;
}

/* styling for the copyright section */
.hero_section_copyright {
    text-align: center;
    padding: 1.5rem;
    color: #fff;
    background-color: #295982;
    text-decoration: none;
}
.hero_section_copyright > a {
    color: orange;
    text-decoration: none;
}